<ion-header>
	<ion-toolbar color="white-theme">
		<ion-title>ติดต่อ</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ion-item button onclick="" color="theme">
      <ion-label>facebook : {{facebook}}</ion-label>
    </ion-item>
    <ion-item button onclick="" color="theme">
      <ion-label>Mail: {{mail}}</ion-label>
    </ion-item>
    <ion-item button onclick="" color="theme">
      <ion-label>Line: {{line}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="{{image}}" alt="">
      </ion-col>
      <ion-col size="12">
        {{address}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
