<ion-header>
	<ion-toolbar color="white-theme">
		<ion-title>ติดต่อ</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ion-item button onclick="" color="theme">
      <ion-label>facebook : {{listcontact.facebook}}</ion-label>
    </ion-item>
    <ion-item button onclick="" color="theme">
      <ion-label>Mail: {{listcontact.mail}}</ion-label>
    </ion-item>
    <ion-item button onclick="" color="theme">
      <ion-label>Line: {{listcontact.line}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
