<ion-header>
  <ion-toolbar color="theme">
    <ion-title>รายละเอียดรถ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
	<div class="card">
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<ion-text color="theme">
						<h3>ราคา {{price}} บาท</h3>
					</ion-text>
				</ion-col>
				<ion-col size="12">
					<ion-slides>
				        <ion-slide *ngFor="let images of images">
				          <div class="slide">
							<!-- <img src="assets/images/car/jazz.jpeg"/> -->
							<img src="{{images}}" alt="">
				          </div>
				        </ion-slide>

				        <!-- <ion-slide>
				          <img src="assets/images/car/jazz.jpeg"/>
				        </ion-slide>

				        <ion-slide>
				          <img src="assets/images/car/jazz.jpeg"/>
				        </ion-slide> -->
			      	</ion-slides>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12">
					<ion-text color="theme">
						<h6>{{detail}}</h6>
						<!-- <h6>2019 MITSUBISHI ATTRAGE ข้อมูลรถ</h6> -->
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					ยี่ห้อรถยนต์
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">{{brand}}</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					รุ่นรถยนต์
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">{{model}}</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					โฉมรถยนต์
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">{{name}}</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					รายละเอียดรุ่น
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">{{submodel}}</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					ปี
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">{{year}}</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					ขนาดเครื่องยนต์
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">{{power}} cc</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					ระบบเกียร์
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">{{gear}}</p> 
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					เลขไมล์
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">{{mileage}} กม.</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					สี
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">{{color}}</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					ประเภทรถ
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">{{type}}</p>
				</ion-col>
			</ion-row>
			<!-- <ion-row>
				<ion-col size="6">
					อัพเดทวันที่
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin text-small">20 มกราคม 2564</p>
				</ion-col>
			</ion-row> -->
		</ion-grid>
	</div>

	<div class="card">
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<ion-text color="theme">
						<h6>ข้อมูลผู้ขาย</h6>
					</ion-text>
				</ion-col>
				<ion-col size="12">
					<ion-chip>
						<ion-avatar>
							<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
						</ion-avatar>
						<ion-label>{{username}}</ion-label>
					</ion-chip>
				</ion-col>
				<ion-col size="12">
					<ion-button color="warning" expand="fill" href="tel:{{tel}}"><ion-icon name="call-outline"></ion-icon></ion-button>
					<ion-button color="line" expand="fill" href="{{line}}"><img src="assets/images/line.png" width="25"></ion-button>
					<ion-button color="tertiary" expand="fill" routerLink="/favorites-add/{{car_id}}"><ion-icon name="heart-outline"></ion-icon></ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
