<ion-header>
  <ion-toolbar color="theme">
    <ion-title>ซื้อเหรียญ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
	<div class="card">
		<ion-list>
		  <ion-radio-group value="1">
		    <ion-item *ngFor="let listscoin of listcoin">
		      <ion-label>{{listscoin.text}}</ion-label>
		      <ion-radio slot="start" value="{{listscoin.id}}"></ion-radio>
		    </ion-item>
		  </ion-radio-group>
		</ion-list>
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<ion-button color="theme">ซื้อ</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
