<ion-header>
  <ion-toolbar color="theme">
    <ion-title>ค้นหารถทั้งหมด</ion-title>
    <a href="car-add" slot="end" class="mr-1"><ion-icon name="add-circle-outline" size="large" color="light"></ion-icon></a>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
	<ion-button expand="full" color="theme" href="searchcar"><ion-icon name="search-outline"></ion-icon> ค้นหารถตามประเภท</ion-button>

	<div class="card mb-1" *ngFor="let listcars of listcar">
		<ion-row>
			<ion-col size="12">
				<ion-text color="theme">
					<h6 class="name-car" routerLink="/car-detail/{{listcars.id}}">{{listcars.name}}</h6>
				</ion-text>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="6">
				<div routerLink="/car-detail/{{listcars.id}}">
					<img src="{{listcars.image}}">	
					<!-- <h6 class="name-car">{{listcars.name}}</h6> -->
				</div>
			</ion-col>
			<ion-col size="6">
				<ion-badge color="primary">{{listcars.type}}</ion-badge> <br>
				<h6 class="text">ราคา : {{listcars.price}}</h6>
				<h6 class="text">{{listcars.submodel}}</h6>
				<br>
				<!-- <small>{{listcars.detail}}</small> <br> -->
				<ion-button color="warning" size="small" href="tel:{{listcars.tel}}"><ion-icon name="call-outline"></ion-icon></ion-button>
				<ion-button color="line" size="small" href="{{listcars.line}}"><img src="assets/images/line.png" width="25"></ion-button>
				<ion-button color="tertiary" size="small" routerLink="/favorites-add/{{listcars.id}}"><ion-icon name="heart-outline"></ion-icon></ion-button>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
