<ion-header>
  <ion-toolbar color="theme">
    <ion-title>ค้นหารถทั้งหมด</ion-title>
    <a href="" slot="end" class="mr-1"><ion-icon name="cart-outline" size="large" color="light"></ion-icon></a>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
	<!-- <ion-grid>
		<ion-row>
			<ion-col>
			    <ion-button expand="full" color="light">ออนไลน์ (36)</ion-button>
			</ion-col>
			<ion-col>
			    <ion-button expand="full" color="light" href="carall">ออฟไลน์ (0)</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid> -->
	<!-- <ion-searchbar placeholder="ค้นหาประกาศของคุณในออนไลน์"></ion-searchbar> -->

	<ion-button expand="full" color="theme" href="searchcar"><ion-icon name="search-outline"></ion-icon> ค้นหารถตามประเภท</ion-button>

	<div class="card mb-1">
		<ion-row>
			<ion-col size="5">
				<img src="assets/images/banner/banner.jpg">
				<p class="my-0"><strong>lamborghini</strong></p>
			</ion-col>
			<ion-col size="7">
				<ion-badge color="primary">รถมือสอง</ion-badge> <br>
				<small>500,000</small> <br>
				<small>Lorem ipsum dolor sit amet, consectetur..</small> <br>
				<ion-button color="warning" size="small"><ion-icon name="call-outline"></ion-icon></ion-button>
				<ion-button color="line" size="small"><img src="assets/images/line.png" width="25"></ion-button>
			</ion-col>
		</ion-row>
	</div>
	<div class="card mb-1">
		<ion-row>
			<ion-col size="5">
				<img src="assets/images/banner/banner.jpg">
				<p class="my-0"><strong>lamborghini</strong></p>
			</ion-col>
			<ion-col size="7">
				<ion-badge color="primary">รถมือสอง</ion-badge> <br>
				<small>500,000</small> <br>
				<small>Lorem ipsum dolor sit amet, consectetur..</small> <br>
				<ion-button color="warning" size="small"><ion-icon name="call-outline"></ion-icon></ion-button>
				<ion-button color="line" size="small"><img src="assets/images/line.png" width="25"></ion-button>
			</ion-col>
		</ion-row>
	</div>
	<div class="card mb-1">
		<ion-row>
			<ion-col size="5">
				<img src="assets/images/banner/banner.jpg">
				<p class="my-0"><strong>lamborghini</strong></p>
			</ion-col>
			<ion-col size="7">
				<ion-badge color="primary">รถมือสอง</ion-badge> <br>
				<small>500,000</small> <br>
				<small>Lorem ipsum dolor sit amet, consectetur..</small> <br>
				<ion-button color="warning" size="small"><ion-icon name="call-outline"></ion-icon></ion-button>
				<ion-button color="line" size="small"><img src="assets/images/line.png" width="25"></ion-button>
			</ion-col>
		</ion-row>
	</div>
	<div class="card mb-1">
		<ion-row>
			<ion-col size="5">
				<img src="assets/images/banner/banner.jpg">
				<p class="my-0"><strong>lamborghini</strong></p>
			</ion-col>
			<ion-col size="7">
				<ion-badge color="primary">รถมือสอง</ion-badge> <br>
				<small>500,000</small> <br>
				<small>Lorem ipsum dolor sit amet, consectetur..</small> <br>
				<ion-button color="warning" size="small"><ion-icon name="call-outline"></ion-icon></ion-button>
				<ion-button color="line" size="small"><img src="assets/images/line.png" width="25"></ion-button>
			</ion-col>
		</ion-row>
	</div>
	<div class="card mb-1">
		<ion-row>
			<ion-col size="5">
				<img src="assets/images/banner/banner.jpg">
				<p class="my-0"><strong>lamborghini</strong></p>
			</ion-col>
			<ion-col size="7">
				<ion-badge color="primary">รถมือสอง</ion-badge> <br>
				<small>500,000</small> <br>
				<small>Lorem ipsum dolor sit amet, consectetur..</small> <br>
				<ion-button color="warning" size="small"><ion-icon name="call-outline"></ion-icon></ion-button>
				<ion-button color="line" size="small"><img src="assets/images/line.png" width="25"></ion-button>
			</ion-col>
		</ion-row>
	</div>
	<!-- <ion-grid>
		<ion-row>
			<ion-col size="12">
				<div class="card mb-1">
					<img src="assets/images/banner/banner.jpg">
					<div class="card-body">
						<ion-badge color="primary">รถมือสอง</ion-badge>
						<ion-text color="theme">
							<p class="my-0"><strong>lamborghini</strong></p>
						</ion-text>
						<p class="my-0">10,000,000 บาท</p>
						<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua...</small>
					</div>
					<ion-button expand="full" color="secondary" size="small"><ion-icon name="call-outline"></ion-icon></ion-button>
					<ion-button expand="full" color="tertiary" size="small">แก้ไข</ion-button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid> -->
</ion-content>
