<ion-header>
  <ion-toolbar color="theme">
    <ion-title>ค้นหารถทั้งหมด</ion-title>
    <a href="car-add" slot="end" class="mr-1"><ion-icon name="add-circle-outline" size="large" color="light"></ion-icon></a>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
	<ion-button expand="full" color="theme" href="searchcar"><ion-icon name="search-outline"></ion-icon> ค้นหารถตามประเภท</ion-button>

	<div class="card mb-1" *ngFor="let listcars of listcar">
		<ion-row>
			<ion-col size="5">
				<div routerLink="/car-detail/{{listcars.id}}">
					<img src="{{listcars.image}}">	
					<strong>{{listcars.name}}</strong>
				</div>
			</ion-col>
			<ion-col size="7">
				<ion-badge color="primary">รถมือสอง</ion-badge> <br>
				<small>{{listcars.price}}</small> <br>
				<small>{{listcars.detail}}</small> <br>
				<ion-button color="warning" size="small" href="tel:{{listcars.tel}}"><ion-icon name="call-outline"></ion-icon></ion-button>
				<ion-button color="line" size="small" href="{{listcars.line}}"><img src="assets/images/line.png" width="25"></ion-button>
				<ion-button color="tertiary" size="small"><ion-icon name="heart-outline"></ion-icon></ion-button>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
