<ion-header>
  <ion-toolbar color="theme">
    <ion-title>โปรไพล์</ion-title>
    <a href="profile-setting" slot="end" class="mr-1"><ion-icon name="settings-outline" color="light" size="large"></ion-icon></a>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ion-item button onclick="">
      <ion-icon slot="start" name="radio-button-on-sharp" color="warning"></ion-icon>
      <ion-label>
        <h3>คุณมี K2c coin</h3>
      </ion-label>
    </ion-item>
    <ion-item button onclick="" href="announce">
      <ion-icon slot="start" name="car-outline" color="theme"></ion-icon>
      <ion-label>
        <h3>รถของฉัน</h3>
      </ion-label>
    </ion-item>
    <ion-item button onclick="">
      <ion-icon slot="start" name="archive-outline" color="theme"></ion-icon>
      <ion-label>
        <h3>ประวัติบริการพิเศษ</h3>
      </ion-label>
    </ion-item>
    <ion-item button onclick="" href="favorites">
      <ion-icon slot="start" name="heart-outline" color="theme"></ion-icon>
      <ion-label>
        <h3>รายการโปรด</h3>
      </ion-label>
    </ion-item>
    <ion-item button onclick="" href="save">
      <ion-icon slot="start" name="bookmark-outline" color="theme"></ion-icon>
      <ion-label>
        <h3>การค้นหาที่บันทึกไว้</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item button onclick="" href="help">
      <ion-icon slot="start" name="help-circle-outline" color="theme"></ion-icon>
      <ion-label>
        <h3>ช่วยเหลือ</h3>
      </ion-label>
    </ion-item>
    <ion-item button href="login">
      <ion-icon slot="start" name="log-out-outline" color="theme"></ion-icon>
      <ion-label>
        <h3>ออกจากระบบ</h3>
      </ion-label>
    </ion-item>
  </ion-list>
	<!-- <ion-list>
        <ion-list-header>
          <h2>รถมือสองสภาพดีราคาถูก</h2>
        </ion-list-header>
        <ion-item>
          5316663 <br>
          ดูและแก้ไขข้อมูลส่วนตัว
        </ion-item>

        <ion-item>
          <ion-label>คุณมี K2c coin 0</ion-label>
          <ion-button fill="outline">ซื้อ</ion-button>
        </ion-item>

        <ion-item>
          <ion-label>ประวัติบริการพิเศษ</ion-label>
          <ion-icon name="person-circle-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>รายการโปรด</ion-label>
          <ion-icon name="heart-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>การค้นหาที่บันทึกไว้</ion-label>
          <ion-icon name="bookmark-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>ช่วยเหลือ</ion-label>
          <ion-icon name="help-circle-outline" slot="end"></ion-icon>
        </ion-item>
  	</ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <a href="login">ออกจากระบบ</a>
        </ion-col>
      </ion-row>
    </ion-grid> -->
</ion-content>
