<ion-header>
  <ion-toolbar color="theme">
  	<!-- <ion-input></ion-input> -->
  	<ion-searchbar></ion-searchbar>
	<a href="" slot="end" class="mr-1"><ion-icon name="cart-outline" size="large" color="light"></ion-icon></a>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
	<div class="card mb-1">
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<ion-text color="theme">
						<h6><strong>รถราคาพิเศษ + โปรโมชั่น</strong></h6>
					</ion-text>
				</ion-col>
				<!-- <ion-col size="12">
					<ion-slides>
				        <ion-slide>
				          <div class="slide">
				            <img src="assets/images/banner/banner.jpg"/>
				          </div>
				        </ion-slide>

				        <ion-slide>
				          <img src="assets/images/banner/banner.jpg"/>
				        </ion-slide>

				        <ion-slide>
				          <img src="assets/images/banner/banner.jpg"/>
				        </ion-slide>
			      	</ion-slides>
				</ion-col> -->
			</ion-row>
		</ion-grid>
		<ion-slides>
	        <ion-slide>
	          <div class="slide">
	            <img src="assets/images/banner/banner.jpg"/>
	          </div>
	        </ion-slide>

	        <ion-slide>
	          <img src="assets/images/banner/banner.jpg"/>
	        </ion-slide>

	        <ion-slide>
	          <img src="assets/images/banner/banner.jpg"/>
	        </ion-slide>
      	</ion-slides>
	</div>
	<div class="card">
		<ion-grid>
			<ion-row>
				<ion-col size="9">
					<ion-text color="theme">
						<h6><strong>ค้นหารถตามยี่ห้อ</strong></h6>
					</ion-text>
				</ion-col>
				<ion-col size="3">
					<a href="" class="link"><h6>ดูทั้งหมด</h6></a>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="4">
					<div class="logo">
						<a href=""><img src="assets/images/logo/honda-logo-1700x1150.png"></a>
					</div>
				</ion-col>
				<ion-col size="4">
					<div class="logo">
						<a href=""><img src="assets/images/logo/Mitsubishi-logo-2000x2500.png"></a>
					</div>
				</ion-col>
				<ion-col size="4">
					<div class="logo">
						<a href=""><img src="assets/images/logo/Mercedes-Benz-logo-2011-1920x1080.png"></a>
					</div>
				</ion-col>
				<ion-col size="4">
					<div class="logo">
						<a href=""><img src="assets/images/logo/lamborghini-logo-1000x1100.png"></a>
					</div>
				</ion-col>
				<ion-col size="4">
					<div class="logo">
						<a href=""><img src="assets/images/logo/Suzuki-logo-5000x2500.png"></a>
					</div>
				</ion-col>
				<ion-col size="4">
					<div class="logo">
						<a href=""><img src="assets/images/logo/Chevrolet-logo-2013-2560x1440.png"></a>
					</div>
				</ion-col>
				<ion-col size="4">
					<div class="logo">
						<a href=""><img src="assets/images/logo/ford-logo-2017.png"></a>
					</div>
				</ion-col>
				<ion-col size="4">
					<div class="logo">
						<a href=""><img src="assets/images/logo/Jeep-logo-green-3840x2160.png"></a>
					</div>
				</ion-col>
				<ion-col size="4">
					<div class="logo">
						<a href=""><img src="assets/images/logo/Kia-logo-2560x1440.png"></a>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<ion-grid>
		<!-- <ion-row>
			<ion-col size="9">
				<ion-input></ion-input>
			</ion-col>
			<ion-col>
				<ion-button color="theme">ลงขาย</ion-button>
			</ion-col>
		</ion-row> -->
		<!-- <ion-row>
		  	<ion-col>
		  		<div class="title-header">
		    		<h2>รถราคาพอเศษ + โปรโมชั่น</h2>
		  		</div>
		  	</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-slides>
			        <ion-slide>
			          <div class="slide">
			            <img src="assets/images/banner/banner.jpg"/>
			          </div>
			        </ion-slide>

			        <ion-slide>
			          <img src="assets/images/banner/banner.jpg"/>
			        </ion-slide>

			        <ion-slide>
			          <img src="assets/images/banner/banner.jpg"/>
			        </ion-slide>
		      	</ion-slides>
			</ion-col>
		</ion-row> -->
<!-- 		<ion-row>
		  	<ion-col>
		  		<div class="title-header">
		    		<h2>ค้นหารถตามยี่ห้อ</h2>
		  		</div>
		  	</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="4">
				<img src="assets/images/logo/honda-logo-1700x1150.png" class="logo">
			</ion-col>
			<ion-col size="4">
				<img src="assets/images/logo/Mitsubishi-logo-2000x2500.png" class="logo">
			</ion-col>
			<ion-col size="4">
				<img src="assets/images/logo/Mercedes-Benz-logo-2011-1920x1080.png" class="logo">
			</ion-col>
			<ion-col size="4">
				<img src="assets/images/logo/lamborghini-logo-1000x1100.png" class="logo">
			</ion-col>
			<ion-col size="4">
				<img src="assets/images/logo/Suzuki-logo-5000x2500.png" class="logo">
			</ion-col>
			<ion-col size="4">
				<img src="assets/images/logo/Chevrolet-logo-2013-2560x1440.png" class="logo">
			</ion-col>
			<ion-col size="4">
				<img src="assets/images/logo/ford-logo-2017.png" class="logo">
			</ion-col>
			<ion-col size="4">
				<img src="assets/images/logo/Jeep-logo-green-3840x2160.png" class="logo">
			</ion-col>
			<ion-col size="4">
				<img src="assets/images/logo/Kia-logo-2560x1440.png" class="logo">
			</ion-col>
		</ion-row> -->
	</ion-grid>
</ion-content>
